In [1]:
def validate_pass(a):
    upper,lower,digit,special=0,0,0,0
    if len(a)>=8:
        for i in range(len(a)):
            if a[i].isupper():
                upper=upper+1
            elif a[i].islower():
                lower=lower+1
            elif a[i].isdigit():
                digit=digit+1
            else:
                special=special+1
        if upper==0 or lower==0 or digit==0 or special==0:
            print("not succesful generated")
        else:
            print("succeefully generated")
    else:
        print("Character length small")
        
validate_pass("Sha123#@&")

succeefully generated

In [2]:
def palin(a):
   
     if a==a[::-1]:
        print("palindrome")
     else:
        print("not palindrome")

palin("madam")

palindrome

In [55]:
class listvalue:
    
        def __init__(self,values):
            self.values = values
            
        def append(self,newvalue):
            self.values.append(newvalue)
            
        def pop(self,index):
            self.values.pop(index)
            
        def count(self,ele):
            print(self.values.count(ele))

In [57]:
list1=listvalue([1,2,2,3,4])
list1.append(5)
list1.values

[1, 2, 2, 3, 4, 5]

In [58]:
list1.pop(2)

In [59]:
list1.values

[1, 2, 3, 4, 5]

In [60]:
list1.count(2)

1

In [53]:
list1.values

[1, 2, 3, 4, 5]

In [93]:
import pandas as pd

In [95]:
adults=pd.read_csv("adult.data")

In [96]:
adults.info()
adults.rename(columns={'39':'age'},inplace=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32560 entries, 0 to 32559
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   39              32560 non-null  int64
 1    State-gov      32560 non-null  object
 2    77516          32560 non-null  int64
 3    Bachelors      32560 non-null  object
 4    13             32560 non-null  int64
 5    Never-married  32560 non-null  object
 6    Adm-clerical   32560 non-null  object
 7    Not-in-family  32560 non-null  object
 8    White          32560 non-null  object
 9    Male           32560 non-null  object
 10   2174           32560 non-null  int64
 11   0              32560 non-null  int64
 12   40             32560 non-null  int64
 13   United-States  32560 non-null  object
 14   <=50K          32560 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [77]:
adults.shape

(32560, 15)

In [79]:
adults=pd.read_csv("adult.data",header=None,names=["age","workclass","fnlwgt","education","education_num","martial","occupation","relationship","race","sex","gains","loss","hours_per_week","native_country","labels"],na_values=[" ?"])

In [80]:
adults.head()

,age,workclass,fnlwgt,education,education_num,martial,occupation,relationship,race,sex,gains,loss,hours_per_week,native_country,labels
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [81]:
adults.describe()

,age,fnlwgt,education_num,gains,loss,hours_per_week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [85]:
adults.isnull().sum()

age                  0
workclass         1836
fnlwgt               0
education            0
education_num        0
martial              0
occupation        1843
relationship         0
race                 0
sex                  0
gains                0
loss                 0
hours_per_week       0
native_country     583
labels               0
dtype: int64

In [87]:
adults["workclass"].unique()

array([' State-gov', ' Self-emp-not-inc', ' Private', ' Federal-gov',
       ' Local-gov', nan, ' Self-emp-inc', ' Without-pay',
       ' Never-worked'], dtype=object)

In [92]:
adults.dropna("workclass")

C:\Users\shafrizvi\AppData\Local\Temp\ipykernel_20112\3559601520.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.dropna will be keyword-only.
  adults.dropna("workclass")

ValueError: No axis named workclass for object type DataFrame

In [90]:
adults.isnull().sum()

age                  0
workclass         1836
fnlwgt               0
education            0
education_num        0
martial              0
occupation        1843
relationship         0
race                 0
sex                  0
gains                0
loss                 0
hours_per_week       0
native_country     583
labels               0
dtype: int64