In [88]:
import pandas as pd

In [59]:
carsfile=pd.read_csv(r"C:\Users\shafrizvi\Desktop\car.data")

In [74]:
carsfile=pd.read_csv(r"C:\Users\shafrizvi\Desktop\car.data",header = None,names= ["buying","maint","doors","persons","lug_boot","safety","classification"])

In [75]:
carsfile.head()

  buying  maint doors persons lug_boot safety classification
0  vhigh  vhigh     2       2    small    low          unacc
1  vhigh  vhigh     2       2    small    med          unacc
2  vhigh  vhigh     2       2    small   high          unacc
3  vhigh  vhigh     2       2      med    low          unacc
4  vhigh  vhigh     2       2      med    med          unacc

In [71]:
# buying       v-high, high, med, low
  # maint        v-high, high, med, low
   #doors        2, 3, 4, 5-more
   #persons      2, 4, more
   #lug_boot     small, med, big
   #safety       low, med, high)

SyntaxError: invalid syntax (2322452346.py, line 1)

In [76]:
carsfile.isnull().sum()

buying            0
maint             0
doors             0
persons           0
lug_boot          0
safety            0
classification    0
dtype: int64

In [92]:
carsfile.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   buying          1728 non-null   object
 1   maint           1728 non-null   object
 2   doors           1728 non-null   object
 3   persons         1728 non-null   object
 4   lug_boot        1728 non-null   object
 5   safety          1728 non-null   object
 6   classification  1728 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [80]:
carsfile.shape

(1728, 7)

In [85]:
carsfile.iloc[1:4]

  buying  maint doors persons lug_boot safety classification
1  vhigh  vhigh     2       2    small    med          unacc
2  vhigh  vhigh     2       2    small   high          unacc
3  vhigh  vhigh     2       2      med    low          unacc

In [ ]:
c